<extend name="Public/base"/>

<block name="body">
    <div class="panel admin-panel">
      <div class="panel-head"><strong>生成html</strong></div>
      <div class="panel-body">
      	<form method="post" class="form-x" action="{:U()}">
           <div class="form-group">
                <div class="label"><label>生成选项</label></div>
                <div class="field">
                	<div class="button-group  border-blue">
                      <button type="button" class="button active" onclick="ajaxjson('{:U('Home/Createl/index')}',1)">生成首页</button>
                      <button type="button" class="button active" onclick="create_all_html('{:U('Home/Createl/movie')}',1)">生成全部</button>
                      <button type="button" class="button active" onclick="ajaxjson('{:U('Home/Createl/rss')}',1)">生成网站地图</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>生成影片分类</label></div>
                <div class="field">
                    <select class="input input-auto" name="category" id='pid'>
                        <option value="all">全部分类</option>
                        <volist name="category" id="vo">
                            <option value="{$vo.id}">{$vo.html}{$vo.title}</option>
                        </volist>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/lists','type=1')}','id','#pid',1)" type="button">生 成</button>
                </div>
            </div>
             <div class="form-group">
                <div class="label"><label>生成影片</label></div>
                <div class="field">
                    <select class="input input-auto" name="category" id="category">
                        <option value="all">全部影片</option>
                        <volist name="category" id="vo">
                            <option value="{$vo.id}">{$vo.html}{$vo.title}</option>
                        </volist>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/movie')}','id','#category',1)" type="button">生 成</button>
                </div>
            </div>
             <div class="form-group">
                <div class="label"><label>按时间生成影片</label></div>
                <div class="field">
                    <select class="input input-auto" name="time" id="time">
                        <option value="all">全部影片</option>
                        <option value="1">当天</option>
                        <option value="7">一周</option>
                        <option value="30">一月</option>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/movie')}','time','#time',1)" type="button">生 成</button>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>生成文章分类</label></div>
                <div class="field">
                    <select class="input input-auto" name="category" id='pid'>
                        <option value="all">全部分类</option>
                        <volist name="news" id="vo">
                            <option value="{$vo.id}">{$vo.html}{$vo.title}</option>
                        </volist>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/newslists')}','id','#pid',1)" type="button">生 成</button>
                </div>
            </div>
             <div class="form-group">
                <div class="label"><label>生成文章</label></div>
                <div class="field">
                    <select class="input input-auto" name="category" id="category">
                        <option value="all">全部文章</option>
                        <volist name="news" id="vo">
                            <option value="{$vo.id}">{$vo.html}{$vo.title}</option>
                        </volist>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/news')}','pid','#category',1)" type="button">生 成</button>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>按时间生成文章</label></div>
                <div class="field">
                    <select class="input input-auto" name="time" id="time">
                        <option value="all">全部文章</option>
                        <option value="1">当天</option>
                        <option value="7">一周</option>
                        <option value="30">一月</option>
                     </select>
                     <button class="button bg-main" onclick="create_html('{:U('Home/Createl/news')}','time','#time',1)" type="button">生 成</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    <div id="mydialog">
        <div class="dialog">
            <div class="dialog-head">
                <span class="dialog-close close rotate-hover"></span>
                <strong>生成进度</strong>
            </div>
            <div class="dialog-body">
				<div class="step hidden">
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">1</span><span class="step-text">影片</span></div>
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">2</span><span class="step-text">影片栏目</span></div>
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">3</span><span class="step-text">文章</span></div>
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">4</span><span class="step-text">文章栏目</span></div>
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">5</span><span class="step-text">地图</span></div>
                    <div class="step-bar" style="width:16.66%;"><span class="step-point">6</span><span class="step-text">首页</span></div>
                </div>
                <p class="text-center">已生成 <span class="badge bg-green num">0</span> 条 共生成<span class="badge bg-green count">0</span> 条</p>
                <div class="progress progress-striped active progress-big">
                	<div class="progress-bar bg-sub" style="width:0%;">进度：0%</div>
                </div>
                <div style="width:100%;height:150px;OVERFLOW-Y: auto; OVERFLOW-X:hidden; margin-top:10px">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
            <div class="dialog-foot">
            	<button class="dialog-close button">取消</button>
            </div>
        </div>
    </div>
</block>
<block name="script">
<js href="__STATIC__/layer/layer.js" />
<script type="text/javascript">
$(function(){
    var html={:json_encode(S('html'))};
    if(html){
        layer.confirm('上次未生成完成是否要继续生成？', {
        btn: ['继续生成','重新生成'],
        shade: 0.3 
        }, function(index){
            dialog.show();
            if(html.all=="all"){
                $('.step').addClass('show').removeClass('hidden');
                step();
            }
            ajaxjson(html.url,html.page);
            layer.close(index);
        }, function(){
            $.get("{:U('Home/Createl/delHtml')}");
        });
    }
})
</script>
</block>